/*Estilos generales*/
body{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
    margin:0;
    padding:0;
}

body i{
    margin: 5px;
}
body a{
    text-decoration: none;
}

.durlock{
    background-color: white;
    border: 1px solid black;
    box-shadow: grey 0px 3px 4px;
    border-radius: 2px;
    margin: auto;
    margin-top: 4%;
    width: 80%;
    padding: 2%;
}
/*Favoritos*/
.grilla{
    display:grid;
    grid-template-columns:100%
}

.tarjeta{
    border: 1px solid black;
    box-shadow: grey 0px 3px 4px;
    background-color:rgba(16, 149, 226, 0.1);
    border-radius: 6px;
    margin: auto;
    margin-top: 4%;
    width: 80%;
    padding: 3%;
}
.tarjeta li{
    text-decoration: none !important;
}
.tarjeta-actions{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: auto;
    margin-top: 2%;
}

.tarjeta-detalles{
    border: 1px solid black;
    box-shadow: grey 0px 3px 4px;
    border-radius: 2px;
    margin: auto;
    margin-top: 4%;
    width: 80%;
    padding: 3%;
}

.tarjeta-modal{
    background-color:white;
    position: absolute;
    border: 1px solid black;
    padding: 2%;
    box-shadow: grey 0px 3px 4px;
    border-radius: 2px;
    margin: 2%;
    margin-top: 8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-duration: 1s;
    animation-direction: alternate;
    animation-name: modalE;
}

.tbody{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    font-family: 'Yaldevi', sans-serif;
    margin:0;
    padding:0;
    background-color:rgba(128, 128, 128, 0.9);
}
.tbody input{
    background-color:rgba(128, 128, 128, 0);
}